footer.footer
	p
		a(href="mailto:help@lmlab.ru") help@lmlab.ru
		span |
		a Риски, связанные со здоровьем 
		span |
		a Правила использования сайта

	p Горячая линия 
		a(href="tel:88002001105") 8-800-200-11-05 
		| &nbsp; с 9:00 до 21:00 по Московскому времени.

	p © 2015 Общество с ограниченной ответственностью "Филип Моррис Сэйлз энд Маркетинг" аффилированная компания Philip Morris International.

	p Доступ на веб-сайт разрешен только гражданам РФ старше 18 лет, являющимся потребителями сигарет, с компьютеров, находящихся в интернет-сети РФ.	
	.footer__attention КУРЕНИЕ УБИВАЕТ