#filter.xl-margin-top.fotorama(data-width="100%" data-height="280", data-arrows="false", data-autoplay="true")
	.product__tech
		.product__tech-content
			.center
				img(src="/layout/images/filter-title.png").s-margin-bottom
				img(src="/layout/images/f-1.png", alt="")
			p Современный угольный фильтр<br>от создателей 
				img(src="/layout/images/parliament.png").small
				| <br>для создания формы сигареты.
	.product__tech(style="background-image: url(/layout/images/filter-bg.jpg)")
		.product__tech-content.product__tech-content--fullwidth
			img(src="/layout/images/filter-title.png").product__feature-title
			img(src="/layout/images/f-2.png", alt="").product__feature-image
			p.product__feature-text.xl-padding-top БЛАГОДАРЯ СВОЕЙ ПЛОТНОСТИ ФИЛЬТР RECESSED МЕНЬШЕ МНЕТСЯ И МЕНЬШЕ НАМОКАЕТ ПРИ КУРЕНИИ<br><br> СИГАРЕТА С НИМ ЛУЧШЕ СОХРАНЯЕТ ФОРМУ
	.product__tech(style="background-image: url(/layout/images/filter-bg.jpg)")
		.product__tech-content.product__tech-content--fullwidth
			img(src="/layout/images/filter-title.png").product__feature-title
			img(src="/layout/images/f-3.png", alt="").product__feature-image.m-margin-bottom
			p.product__feature-text ФИЛЬТР С ВОЗДУШНОЙ КАМЕРОЙ СПОСОБСТВУЕТ ОХЛАЖДЕНИЮ И ФИЛЬТРАЦИИ ДЫМА,<br><br>А ТАКЖЕ РАВНОМЕРНОМУ РАСКРЫТИЮ ВКУСОВЫХ КАЧЕСТВ ПРИ ЗАТЯЖКЕ
	
	.product__tech(style="background-image: url(/layout/images/filter-bg.jpg)")
		.product__tech-content.product__tech-content--right.product__tech-content--fullwidth
			img(src="/layout/images/filter-title.png").product__feature-title
			img(src="/layout/images/f-4.png", alt="").product__feature-image.m-margin-bottom
			p.product__feature-text.l-padding-top В РЕЗУЛЬТАТЕ ВКУС ТАБАКА ВОСПРИНИМАЕТСЯ БОЛЕЕ МЯГКО <br><br><br><br>СОВРЕМЕННЫЙ ФИЛЬТР ОТ СОЗДАТЕЛЕЙ PARLIAMENT
a.test-link(href="/test.html", style="background-image: url(/layout/images/test-bg-1.jpg)") тест finecut
a.test-link(href="/test.html", style="background-image: url(/layout/images/test-bg-2.jpg)") тест recessed
a.test-link(href="/test.html", style="background-image: url(/layout/images/test-bg-3.jpg)") тест о продуктах l&M