include includes/header
<body class="">
include includes/toolbar

.wrap
	.wrap__content
		.bg.present
			.present__title Электронный подарочный <br>сертификат «Дари подарки» <br> Номинал 500 руб.
			.center
				.present__slider(data-width="100%", data-height="120", data-arrows="false").s-margin-bottom.l-margin-top
					.present__image(data-id="0")
						img(src="/layout/images/pd.png")
					.present__image(data-id="1")
						img(src="/layout/images/pd.png")
					.present__image(data-id="2")
						img(src="/layout/images/pd.png")
					.present__image(data-id="3")
						img(src="/layout/images/pd.png")
				#p-0.present__content.present__content--active
					p Чтобы получить этот приз, <br>собери коллекцию из этих бейджей:
					.row.l-margin-top.l-margin-bottom
						.col-xs-4
							img(src="/layout/images/b1.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b2.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b3.png", alt="").present__badge
							| Отличное начало
					p.m-margin-top
						| И прокачай свой статус до:
						br
						img(src="/layout/images/s.png", alt="").present__status.s-margin-top
				#p-1.present__content
					p Чтобы получить этот приз, <br>собери коллекцию из этих бейджей:
					.row.l-margin-top.l-margin-bottom
						.col-xs-4
							img(src="/layout/images/b1.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b2.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b3.png", alt="").present__badge
							| Отличное начало	
				#p-2.present__content
					p Чтобы получить этот приз, <br>собери коллекцию из этих бейджей:
					.row.l-margin-top.l-margin-bottom
						.col-xs-4
							img(src="/layout/images/b1.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b2.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b3.png", alt="").present__badge
							| Отличное начало
					p.m-margin-top
						| И прокачай свой статус до:
						br
						img(src="/layout/images/s.png", alt="").present__status.s-margin-top
				#p-3.present__content
					p Чтобы получить этот приз, <br>собери коллекцию из этих бейджей:
					.row.l-margin-top.l-margin-bottom
						.col-xs-4
							img(src="/layout/images/b1.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b2.png", alt="").present__badge
							| Отличное начало
						.col-xs-4
							img(src="/layout/images/b3.png", alt="").present__badge
							| Отличное начало	
				a.present__more.m-margin-top(href="/prizes.html") к полному списку призов

		include includes/footer
</body>
</html>