include includes/header
<body class="">
include includes/toolbar

.wrap
	.wrap__content
		a(href="/present.html").block.block--white.block--card.block--present.block--present-gray
			.block__title ГАРАНТИРОВАННЫЙ ПРИЗ
			.block__divider
			.block__text Электронный подарочный <br>сертификат «Дари подарки»
				br
				br
				| Номинал 500 руб.
			.block__image
				img(src="/layout/images/card500.png")

		a(href="/present.html").block.block--white.block--card.block--present.block--present-blue
			.block__title ГАРАНТИРОВАННЫЙ ПРИЗ
			.block__divider
			.block__text Электронный подарочный <br>сертификат «Дари подарки»
				br
				br
				| Номинал 1000 руб.
			.block__image
				img(src="/layout/images/card500.png")

		a(href="/present.html").block.block--white.block--present.block--present-radial-blue
			.block__title приз в разделе «ТУРНИР» 
			.block__divider
			.block__text Модный планшет
			.block__image
				img(src="/layout/images/ipad.png")
		a(href="/present.html").block.block--white.block--present.block--present-radial-cyan
			.block__title приз в разделе «ТУРНИР» 
			.block__divider
			.block__text Крутой смартфон
			.block__image
				img(src="/layout/images/phone.png")
		include includes/footer
</body>
</html>