include includes/header
<body>
include includes/toolbar
.wrap
	.wrap__content
		.bg.product
			#products.fotorama(data-width="100%" data-height="320")
				.product__item
					.product__name L&M white label
					.product__description
						| 20 сигарет с фильтром-мундштуком. <br>
						| Смола: 1мг/сиг. <br>
						| Никотин: 0,1 мг/сиг.<br> 
						| СО: 2мг/сиг
					.center
						img(src="/layout/images/product.png", alt="")
				.product__item
					.product__name L&M white label
					.product__description
						| 20 сигарет с фильтром-мундштуком. <br>
						| Смола: 1мг/сиг. <br>
						| Никотин: 0,1 мг/сиг.<br> 
						| СО: 2мг/сиг
					.center
						img(src="/layout/images/product.png", alt="")
				.product__item
					.product__name L&M white label
					.product__description
						| 20 сигарет с фильтром-мундштуком. <br>
						| Смола: 1мг/сиг. <br>
						| Никотин: 0,1 мг/сиг.<br> 
						| СО: 2мг/сиг
					.center
						img(src="/layout/images/product.png", alt="")
				.product__item
					.product__name L&M white label
					.product__description
						| 20 сигарет с фильтром-мундштуком. <br>
						| Смола: 1мг/сиг. <br>
						| Никотин: 0,1 мг/сиг.<br> 
						| СО: 2мг/сиг
					.center
						img(src="/layout/images/product.png", alt="")
				.product__item
					.product__name L&M white label
					.product__description
						| 20 сигарет с фильтром-мундштуком. <br>
						| Смола: 1мг/сиг. <br>
						| Никотин: 0,1 мг/сиг.<br> 
						| СО: 2мг/сиг
					.center
						img(src="/layout/images/product.png", alt="")
				.product__item
					.product__name L&M white label
					.product__description
						| 20 сигарет с фильтром-мундштуком. <br>
						| Смола: 1мг/сиг. <br>
						| Никотин: 0,1 мг/сиг.<br> 
						| СО: 2мг/сиг
					.center
						img(src="/layout/images/product.png", alt="")
				.product__item
					.product__name L&M white label
					.product__description
						| 20 сигарет с фильтром-мундштуком. <br>
						| Смола: 1мг/сиг. <br>
						| Никотин: 0,1 мг/сиг.<br> 
						| СО: 2мг/сиг
					.center
						img(src="/layout/images/product.png", alt="")
			#techs.fotorama(data-width="100%" data-height="290").l-margin-top
				.product__tech
					.product__title ТЕХНОЛОГИЯ FINECUT TOBACCO
					.product__tech-content
						img(src="/layout/images/tech.png", alt="")
						p Специальная технология<br>более тонкой нарезки табака <br>для неизменного качества вкуса.
				.product__tech
					.product__title ТЕХНОЛОГИЯ FINECUT TOBACCO
					.product__tech-content
						img(src="/layout/images/tech.png", alt="")
						p Специальная технология<br>более тонкой нарезки табака <br>для неизменного качества вкуса.
				.product__tech
					.product__title ТЕХНОЛОГИЯ FINECUT TOBACCO
					.product__tech-content
						img(src="/layout/images/tech.png", alt="")
						p Специальная технология<br>более тонкой нарезки табака <br>для неизменного качества вкуса.
				.product__tech
					.product__title ТЕХНОЛОГИЯ FINECUT TOBACCO
					.product__tech-content
						img(src="/layout/images/tech.png", alt="")
						p Специальная технология<br>более тонкой нарезки табака <br>для неизменного качества вкуса.
				.product__tech
					.product__title ТЕХНОЛОГИЯ FINECUT TOBACCO
					.product__tech-content
						img(src="/layout/images/tech.png", alt="")
						p Специальная технология<br>более тонкой нарезки табака <br>для неизменного качества вкуса.
				.product__tech
					.product__title ТЕХНОЛОГИЯ FINECUT TOBACCO
					.product__tech-content
						img(src="/layout/images/tech.png", alt="")
						p Специальная технология<br>более тонкой нарезки табака <br>для неизменного качества вкуса.
				.product__tech
					.product__title ТЕХНОЛОГИЯ FINECUT TOBACCO
					.product__tech-content
						img(src="/layout/images/tech.png", alt="")
						p Специальная технология<br>более тонкой нарезки табака <br>для неизменного качества вкуса.
			.product__tech.xl-margin-top
				.product__title фильтр recessed <br>от создателей parliament 
				.product__tech-content
					img(src="/layout/images/filter.png", alt="")
					p Современный угольный фильтр<br>от создателей 
						img(src="/layout/images/parliament.png").small
						| <br>для создания формы сигареты.
		include includes/footer
</body>
</html>