include includes/header
<body>
include includes/toolbar
.wrap
	.wrap__content
		.bg.product
			.packages
				.packages__title больше преимуществ L&M 
				.packages__scroll
					a(href="/product.html")
						img(src="/layout/images/pack-1.png", alt="")
					a(href="/product.html")
						img(src="/layout/images/pack-2.png", alt="")
					a(href="/product.html")
						img(src="/layout/images/pack-3.png", alt="")
					a(href="/product.html")
						img(src="/layout/images/pack-1.png", alt="")
					a(href="/product.html")
						img(src="/layout/images/pack-2.png", alt="")
					a(href="/product.html")
						img(src="/layout/images/pack-3.png", alt="")
			include includes/products-common
		include includes/footer
</body>
</html>