include includes/header
<body class="">
include includes/toolbar
.wrap
	.wrap__content.test-list

		a.test-list__item(href="/test.html", style="background-image: url(/layout/images/t1.jpg)")
			.test-list__content
				.test-list__name тест о продуктах l&M
				.test-list__button Пройти
		a.test-list__item(href="/test.html", style="background-image: url(/layout/images/t2.jpg)")
			.test-list__content
				.test-list__name ТЕСТ ПО ВИДЕО-ШОУ
				.test-list__button Пройти
		a.test-list__item(href="/test.html", style="background-image: url(/layout/images/t3.jpg)")
			.test-list__content
				.test-list__name тест по истории l&M
				.test-list__button Пройти
		a.test-list__item(href="/test.html", style="background-image: url(/layout/images/t4.jpg)")
			.test-list__content
				.test-list__name ТЕСТ ПО ВИДЕО-ШОУ
				.test-list__button Пройти
		include includes/footer
</body>
</html>