include includes/header
<body>
include includes/toolbar
.wrap
	.wrap__content
		.video
			.video__title(style="background-image: url(https://www.lmlab.ru/uploads/video/preview/a14b3ca682fb892e2f708a64b4e1dbb7.jpg)")
				.video__name идея №22. как уверенно пройти собеседование
			.video__info
				.row
					.col-xs-3
						.video__icon
							include ../../public_html/layout/images/svg/like.svg
							span 999999
					.col-xs-9
						a(href="#").video__info-more
							span БОЛЬШЕ Комментариев
							include ../../public_html/layout/images/svg/more.svg
			.video__comments
				.video__comment
					.row
						.col-xs-3.center
							.video__comment-image(style="background-image:url(/layout/images/avatar.png)")
						.col-xs-9
							textarea.video__comment-input(placeholder="Оставить комментарий")
				.video__comment
					.row
						.col-xs-3.center
							.video__comment-image(style="background-image:url(/layout/images/avatar.png)")
						.col-xs-9
							.video__comment-meta
								span.video__comment-author ПОЛЬЗОВАТЕЛЬ 
								span.video__comment-time 2 месяцев назад
							.video__comment-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
							.row.video__comment-actions
								.col-xs-4
									a(href="#").video__comment-add Ответить
								.col-xs-8
									.video__icon
										include ../../public_html/layout/images/svg/like.svg
										span 999999
				.video__comment
					.row
						.col-xs-3.center
							.video__comment-image(style="background-image:url(/layout/images/avatar.png)")
						.col-xs-9
							.video__comment-meta
								span.video__comment-author ПОЛЬЗОВАТЕЛЬ 
								span.video__comment-time 2 месяцев назад
							.video__comment-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
							.row.video__comment-actions
								.col-xs-4
									a(href="#").video__comment-add Ответить
								.col-xs-8
									.video__icon
										include ../../public_html/layout/images/svg/like.svg
										span 999999
				a.video__comments-more(href="#") 
					span БОЛЬШЕ Комментариев
					include ../../public_html/layout/images/svg/more.svg
			.video__list
				.video__list-item
					.row
						.col-xs-5
							.video__list-image(style="background-image:url(https://www.lmlab.ru/uploads/video/preview/a14b3ca682fb892e2f708a64b4e1dbb7.jpg)")
						.col-xs-7
							.video__list-content
								.video__list-name Идея №1. Безбашенный способ открыть бутылку вина без штопора
								.row.xs-margin-top
									.col-xs-4
										.video__icon
											include ../../public_html/layout/images/svg/like.svg
											span 999999
									.col-xs-6
										.video__icon.video__icon--comment
											include ../../public_html/layout/images/svg/comment.svg
											span 999999
				.video__list-item
					.row
						.col-xs-5
							.video__list-image(style="background-image:url(https://www.lmlab.ru/uploads/video/preview/ef222f54a2e5910f4ef4a8cc7ee14ebc.jpg)")
						.col-xs-7
							.video__list-content
								.video__list-name Идея №1. Безбашенный способ открыть бутылку вина без штопора
								.row.xs-margin-top
									.col-xs-4
										.video__icon
											include ../../public_html/layout/images/svg/like.svg
											span 999999
									.col-xs-6
										.video__icon.video__icon--comment
											include ../../public_html/layout/images/svg/comment.svg
											span 999999
				.video__list-item
					.row
						.col-xs-5
							.video__list-image(style="background-image:url(https://www.lmlab.ru/uploads/video/preview/53967a7b98017d8df0b99cb6e152de8d.jpg)")
						.col-xs-7
							.video__list-content
								.video__list-name Идея №1. Безбашенный способ открыть бутылку вина без штопора
								.row.xs-margin-top
									.col-xs-4
										.video__icon
											include ../../public_html/layout/images/svg/like.svg
											span 999999
									.col-xs-6
										.video__icon.video__icon--comment
											include ../../public_html/layout/images/svg/comment.svg
											span 999999
				a.video__list-more(href="#") 
					span БОЛЬШЕ ВИДЕО
					include ../../public_html/layout/images/svg/more.svg
			.center.xl-margin-bottom.l-margin-top
				a.video__send(href="/mail.html") Написать письмо сергею
		include includes/footer
</body>
</html>