@font-face
	font-family: 'Din Cond';
	src: url(/layout/fonts/PFDinTextCondPro-Regular.woff) format('woff')
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'Din Cond';
	src: url(/layout/fonts/PFDinTextCondPro-Light.woff) format('woff')
	font-weight: 300;
	font-style: normal;

@font-face
	font-family: 'Din Cond';
	src: url(/layout/fonts/PFDinTextCondPro-Medium.woff) format('woff')
	font-weight: bold;
	font-style: normal;

@font-face
	font-family: 'Din';
	src: url(/layout/fonts/PFDinTextPro-Light.woff) format('woff')
	font-weight: normal;
	font-style: normal;