html
	height 100%
body
	font-family: 'Din Cond', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	color white
	background #eaeaea
	-webkit-font-smoothing: subpixel-antialiased
	max-width 680px
	margin 0 auto
	position: relative
	&.open
		overflow hidden
	@media (min-width scr_sm)
		box-shadow 0 0 10px 1px alpha(black, .1)

svg
	t fill
	path, g
		t fill

.tabs
	background-image linear-gradient(302deg, #0067CC 0%, #002C58 100%)
	&__contents
		position relative
	&__content
		display none
		min-height 310px
		position relative
		t height
		@media (min-width scr_xs)
			min-height 400px
		&--active
			display block
	&__footer
		position absolute
		bottom 20px
		width 100%
		line-height 25px
		@media (min-width scr_xs)
			line-height 35px
		a
			text-transform: uppercase
			color white
			font-size 12px
			border-line alpha(white, .7), 9px
			@media (min-width scr_xs)
				font-size 17px
				border-line alpha(white, .7), 15px
		
	&__form
		position absolute
		top 50%
		margin-top -20px
		transform translateY(-50%) translateX(-50%)
		width 77%
		max-width 300px
		left 50%
		@media (min-width scr_xs)
			max-width 600px
	&__trigger
		display inline-block
		width 50%
		height 50px
		background-image linear-gradient(129deg, #0067CC 0%, #002C58 100%)
		color white
		text-transform uppercase
		font-weight: bold
		font-size 17px
		text-align: center
		line-height 53px
		position relative
		@media (min-width scr_xs)
			height 70px
			line-height 73px
			font-size 26px
		&:after, &:before
			position: absolute
			top 0
			width 100%
			height 1.5px
			content ""
			overflow: hidden
			left 0
			background-image linear-gradient(0deg, alpha(white, 0) 0%, alpha(white, .8) 100%)
			border-top-right-radius 2px
			opacity: .8
		&:before
			top auto
			left auto
			right 0
			bottom -1px
			opacity: .5
			background-color #004385
			border-top-right-radius 0px
			border-bottom-left-radius 2px
			border-bottom-right-radius 2px
		&:hover
			color white
		&--active
			background transparent
			&:before
				display none
.button
	border 0
	border-radius 4px
	background cyan
	min-width 115px
	height 32px
	line-height 30px
	padding-top 3px
	font-weight: bold
	text-transform: uppercase
	font-size 17px
	color blue
	position relative
	background-image url(/layout/images/button.jpg)
	background-size auto 100%
	box-shadow 0 2px 3px rgba(8, 27, 62, 0.6)
	text-shadow 0 1px 1px alpha(white, .3)
	display inline-block
	padding 3px 20px 0
	t all
	@media (min-width scr_xs)
		min-width 200px
		height 47px
		line-height 45px
		border-radius 8px
		font-size 23px
		padding-top 3px
	span
		position relative
		z-index: 5
	&:after
		position absolute
		width 100%
		content ""
		top 0
		left 0
		height 100%
		border-radius 4px
		opacity .7
		background-image linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, rgba(255, 255, 255, 0.63) 50%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 0) 100%)
	&:active, &:focus
		top 2px
		box-shadow 0 0px 3px rgba(8, 27, 62, 0.6)
.input
	width 100%
	border-radius 0
	background white
	height 27px
	line-height initial
	padding 1px 10px 0
	line-height 28px
	box-shadow none
	border 0
	margin-bottom 16px
	color blue
	font-size 14px
	@media (min-width scr_xs)
		font-size 17px
		height 44px
		padding-top: 4px
.login
	&__link
		color white
		text-transform: uppercase
		font-size 12px
		border-line alpha(white, .7), 9px
		position relative
		@media (min-width scr_xs)
			font-size 17px
			border-line alpha(white, .7), 15px
		&:hover
			color white
	&__submit
		margin-top 20px
		@extends .button
	&__lines
		position relative
		&:before, &:after
			content ""
			top 8px
			width calc(50% - 50px)
			border-line alpha(white, .7)
			height 1px
			position absolute
			left 0%
			@media (min-width scr_xs)
				width calc(50% - 70px)
				top 8px
		&:before
			left auto
			right 0%
	&__input
		@extends .input

.wrap
	padding-top 68px
	width 100%
	position relative
	overflow-x hidden
	&__content
		t all
		.open &
			opacity .5
			transform translateX(calc(100% - 56px))

.code, .test, .invite, .bg
	background url(/layout/images/test.jpg) top center
	background-size cover
	margin-top -15px
	padding 20px 10px 30px
	position relative
	min-height 420px
	@media (min-width scr_xs)
		padding 30px 30px 40px
.code
	min-height 580px
	padding 20px 15px 30px
	@media (min-width scr_xs)
		min-height 1100px
		padding 30px 30px 40px
	&__submit
		@extends .button
		margin-top 9px
	p
		display block
		font-size 14px
		line-height 17px
		& + .code__title
			margin-top 20px
		@media (min-width scr_xs)
			font-size 24px
			line-height 32px
	&__input
		width 70px
		@extends .input
		background #0175e7
		color white
		position absolute
		top 50%
		left 50%
		margin-left -35px
		font-size 12px
		border-radius 3px
		margin-top -30px
		padding 1px 3px 0
		text-align: center
		@media (min-width scr_xs)
			min-width 140px
			margin-left -70px
			font-size 15px
			margin-top -56px
			min-height 57px
			line-height 59px
		&-frame
			width 100%
			position relative
			min-height 220px
			background url(/layout/images/key-bg.png) top right no-repeat
			background-position-x calc(50% + 21px)
			background-size 250px auto
			margin-bottom -50px
			@media (min-width scr_xs)
				min-height 430px
				margin-bottom -70px
				background-size 500px auto
				background-position-x calc(50% + 41px)
	&__footer
		position absolute
		bottom 5px
		left 0
		padding 0 15px
		p
			font-size 10px
			line-height 11px
			font-weight 300
			@media (min-width scr_xs)
				font-size 15px
				line-height 15px
	.code__title
		text-transform: uppercase
		font-size 18px
		line-height 1.2
		font-weight: bold
		margin-bottom 15px
		@media (min-width scr_xs)
			font-size 34px
			margin-bottom 25px
		img
			margin-right 10px
			max-height 44px
			@media (min-width scr_xs)
				max-height auto

.test
	&__presents
		@extends .button
		margin-top 20px
		font-size 13px
		padding-top 2px
		@media (min-width scr_xs)
			font-size 24px
			padding-top 4px
			margin-top 40px
	&__answer
		& + .test__answer
			margin-top 15px
			@media (min-width scr_xs)
				margin-top 25px
		input
			appearance none
			border 0
			background url(/layout/images/radio.jpg) top center
			border-radius 50%
			background-size cover
			width 16px
			height 16px
			display inline-block
			box-shadow 0 2px 3px rgba(23, 33, 63, 0.62), inset 0 1px 1px rgba(54, 54, 54, 0.07), inset 0 0 2px #989898
			margin-right 10px
			vertical-align: top
			top 4px
			position relative
			&:checked
				background-position bottom center
			@media (min-width scr_xs)
				height 24px
				width 24px
		label
			width 90%
			font-size 13px
			font-weight: bold
			width calc(100% - 30px)
			@media (min-width scr_xs)
				font-size 24px
				font-weight: normal
				width calc(100% - 60px)
	&__toolbar
		font-size 36px
		font-weight: bold
		margin-bottom 0px
		> [class*='col-']
			padding 0 10px
			@media (min-width scr_xs)
				padding 0 20px
		@media (min-width scr_xs)
			font-size 65px
	&__question
		text-align: center
		margin-bottom 25px
		font-size 24px
		text-transform: uppercase
		font-weight: bold
		line-height 26px
		@media (min-width scr_xs)
			font-size 46px
			line-height 50px
			margin-bottom 45px
	&-list
		&__content
			position absolute
			width 100%
			top 50%
			transform translateY(-50%)
			color white
			text-align: center
		&__name
			text-transform: uppercase
			font-weight: bold
			font-size 24px
			@media (min-width scr_xs)
				font-size 40px
		&__button
			display inline-block
			margin-top 10px
			@extends .button
		&__item
			width 100%
			position relative
			width calc(100% - 16px)
			margin 0 8px 10px
			display block
			height 185px
			background blue
			background-size cover
			background-position center center
			@media (min-width scr_xs)
				padding 12px 10px
				height 345px

.invite
	h3
		font-size 13px
		margin-bottom 0
		margin-top: 10px
		font-weight: bold
		a
			color white
			border-line alpha(@color, .5)
		@media (min-width scr_xs)
			font-size 25px
			margin-top: 20px
	&__submit
		@extends .button
		margin-top 10px
	&__input
		width 100%
		@extends .input
		& + .invite__label
			margin-top: 5px
			@media (min-width scr_xs)
				margin-top 10px
	&__textarea
		width 100%
		@extends .input
		min-height 160px
		margin-top 20px
		margin-bottom 0
		@media (min-width scr_xs)
			min-height 320px
			margin-top 30px
		& + h3
			margin-top 0
			margin-bottom 10px
	&__title, &__label
		@extends .code .code__title
		margin-bottom 5px
	&__label
		& + .invite__textarea
			margin-top 0
	p
		@extends .code p
		&.small
			font-size 11px
			margin-top 10px
			font-weight 300
			@media (min-width scr_xs)
				font-size 22px
				margin-top 20px

#products
	@media (min-width scr_xs)
		margin-bottom 50px
	.fotorama
		&__wrap, &__stage, &__stage__shaft
			@media (min-width scr_xs)
				min-height 620px

#techs
	@media (min-width scr_xs)
		margin-bottom 50px
	.fotorama
		&__wrap, &__stage, &__stage__shaft
			@media (min-width scr_xs)
				min-height 480px

.product
	img
		max-width 95%
		&.small
			max-width 80px
			margin 0
			vertical-align: bottom
			@media (min-width scr_xs)
				max-width 160px
	&__item
		img
			max-width 95%
			margin-top -25px
	&__name, &__title
		@extends .code .code__title
		margin-bottom 3px
	&__description
		font-size 10px
		opacity .5
		line-height 1.2
		@media (min-width scr_xs)
			font-size 20px
	&__tech
		&-content
			
			max-width 70%
			margin 0 auto
			line-height 1.2
			img
				margin-top 20px
				margin-bottom 10px
			p
				margin-top 20px
				@media (min-width scr_xs)
					font-size 24px
	
.product, .present__slider
	.fotorama
		&__wrap, &__stage, &__stage__shaft
			@media (min-width scr_xs)
				min-height 205px
		&__nav-wrap
			margin-top 10px
		&__nav--dots .fotorama__nav__frame
			width 18px
			@media (min-width scr_xs)
				width 36px
		&__dot, &__nav__frame.fotorama__active .fotorama__dot
			width 12px
			height 12px
			border 0
			@media (min-width scr_xs)
				width 22px
				height 22px
		&__nav__frame.fotorama__active .fotorama__dot
			background blue

.present
	font-size 13px
	line-height 1.2
	@media (min-width scr_xs)
		font-size 25px
	.row
		max-width 90%
		margin-left: 5%
	&__badge
		max-width 65px
		margin-bottom 5px
		@media (min-width scr_xs)
			max-width 130px
	&__status
		max-height 92px
		@media (min-width scr_xs)
			max-height 182px
	&__image
		img
			max-width 60%
	&__content
		display none
		&--active
			display block
	&__more
		@extends .button
	&__title
		@extends .code .code__title
		
.fotorama
	&__nav--dots .fotorama__nav__frame
		width 14px
		@media (min-width scr_xs)
			width 25px
	&__dot, &__nav__frame.fotorama__active .fotorama__dot
		border 1px solid transparent
		background white
		border-radius 50%
		margin 0 5px
		top 0
		left 0
		position relative
		width 9px
		height 9px
		@media (min-width scr_xs)
			width 15px
			height 15px
	&__nav__frame.fotorama__active .fotorama__dot
		background #0061a5

.block
	display block
	height 185px
	border 1px solid alpha(#a0a0a0, .7)
	width calc(100% - 16px)
	margin 0 8px 10px
	background-color white
	background-size cover
	background-repeat no-repeat
	background-position top left
	color #003076
	padding 8px 6px
	position relative
	overflow hidden
	@media (min-width scr_xs)
		padding 12px 10px
		height 345px
	&__text
		font-size 13px
		line-height 15px
		@media (min-width scr_xs)
			font-size 23px
			line-height 26px
	&--slider
		padding 0
		.block
			border 0
			width 100%
			margin 0
		.fotorama
			&__wrap, &__stage, &__stage__shaft
				@media (min-width scr_xs)
					min-height 345px
			
			
			&__nav-wrap
				position absolute
				width 100%
				bottom 14px
				z-index 1000
				height 9px
				@media (min-width scr_xs)
					height 15px
					bottom 20px
			
			&__stage__frame
				img
					display inline-block
					position relative
					left 0 !important
					top 0 !important
					width auto !important
					max-width 85% !important
					height auto !important
					@media (max-width scr_xs)
						max-height 100px !important
			
	&__divider
		width 12px
		background blue
		height 2px
		margin 4px 0 9px
		@media (min-width scr_xs)
			width 30px
			height 3px
			margin 8px 0 17px
	&__image
		position absolute
		bottom 15px
		right 15px
		text-align: right
		z-index 10
		.block--slider &
			right 0
		img
			max-width 87%
			.block--slider &
				max-height 150px !important
				@media (min-width scr_xs)
					height 290px !important
					max-height 290px !important
	&__title, &__divider, &__slider, &__text
		position relative
		z-index 2
	&__title
		font-size 17px
		text-transform: uppercase
		font-weight: bold
		@media (min-width scr_xs)
			font-size 34px
	&--present
		.block__image
			bottom 20px
			right 25px
		&-gray
			background-color #BBB
			background-image linear-gradient(318deg, #BBB 0%, #626262 100%)
		&-blue
			background-color #7C9CB4
			background-image linear-gradient(318deg, #7C9CB4 0%, #163654 100%)
		&-radial-cyan
			&:after
				content ""
				width 180%
				height 100%
				position absolute
				top 0
				left 0
				background-image radial-gradient(center, #00d6dd 0%,#002746 85%);
			.block__image
				img
					height 120px
					@media (min-width scr_xs)
						height 250px
		&-radial-blue
			&:after
				content ""
				width 150%
				height 100%
				position absolute
				top 0
				left 0
				background-image radial-gradient(center, #0094d9 0%,#030951 85%);
			.block__image
				img
					height 135px
					@media (min-width scr_xs)
						height 280px
	&--card
		.block__image
			right -10px
			bottom 10px
			img
				height 145px
				max-width none
				
				@media (min-width scr_xs)
					height 290px
	&--white
		.block__title, .block__text
			color white
		.block__divider
			background white
	&--video
		&:after
			content ""
			position absolute
			top 50%
			left 50%
			transform translateY(-50%) translateX(-50%)
			background url(/layout/images/video.png)
			background-size cover
			width 49px
			height 49px
			@media (min-width scr_xs)
				width 98px
				height 98px
			
.footer
	font-family 'Din'
	font-size 11px
	background blue
	padding 15px 15px 65px
	@media (min-width scr_xs)
		font-size 14px
	&__attention
		font-family 'Din Cond'
		width 100%
		height 55px
		background white
		left 0
		bottom 0
		position: fixed
		color #696969
		text-transform: uppercase
		text-align: center
		line-height 63px
		letter-spacing 2px
		font-size 32px
		font-weight: bold
		white-space np-wrap
		opacity .9
		z-index: 500
		t bottom
		.open &
			bottom -55px
	p
		margin-bottom 15px
		&:last-of-type
			margin-bottom 0
	a 
		color white
		border-line alpha(@color, .8)
		&:hover
			color cyan
			border-line alpha(@color, .8)
		& + span
			margin 0 10px
