html
	height 100%
body
	font-family: 'Din Cond', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	color white
	background #eaeaea
	-webkit-font-smoothing: subpixel-antialiased
	max-width 680px
	margin 0 auto
	position: relative
	.open &
		overflow hidden
	@media (min-width scr_sm)
		box-shadow 0 0 10px 1px alpha(black, .1)

svg
	t fill
	path, g
		t fill

.wrap
	padding-top 68px
	width 100%
	position relative
	overflow-x hidden
	&__content
		t all
		.open &
			opacity .5
		.open--left &
			transform translateX(calc(100% - 56px))
		.open--right &
			transform translateX(calc(-100% + 66px))

.bg
	background url(/layout/images/test.jpg) top center
	background-size cover
	margin-top -15px
	padding 20px 10px 30px
	position relative
	min-height 420px
	h4
		title()
	p
		font-size 13px
		max-width 90%
		line-height 1.1
	@media (min-width scr_xs)
		padding 30px 30px 40px

.profile
	&__button
		button()
		height 45px
		line-height 44px
		span
			display inline-block
			vertical-align: middle
			font-size 15px
			line-height 1
			@media (min-width scr_xs)
				font-size 30px
				height 90px
		
.fotorama
	&__arr
		margin-top -10px
		background url(/layout/images/arrows.png) top left
		background-size cover
		&--next
			background-position top right
		&--disabled
			display none
	&__nav--dots .fotorama__nav__frame
		width 14px
		@media (min-width scr_xs)
			width 25px
	&__dot, &__nav__frame.fotorama__active .fotorama__dot
		border 1px solid transparent
		background white
		border-radius 50%
		margin 0 5px
		top 0
		left 0
		position relative
		width 9px
		height 9px
		@media (min-width scr_xs)
			width 15px
			height 15px
	&__nav__frame.fotorama__active .fotorama__dot
		background #0061a5

.block
	display block
	height 185px
	border 1px solid alpha(#a0a0a0, .7)
	width calc(100% - 16px)
	margin 0 8px 10px
	background-color white
	background-size cover
	background-repeat no-repeat
	background-position top left
	color #003076
	padding 8px 6px
	position relative
	overflow hidden
	@media (min-width scr_xs)
		padding 12px 10px
		height 345px
	&__text
		font-size 13px
		line-height 15px
		@media (min-width scr_xs)
			font-size 23px
			line-height 26px
	&--slider
		padding 0
		.block
			border 0
			width 100%
			margin 0
		.fotorama
			&__wrap, &__stage, &__stage__shaft
				@media (min-width scr_xs)
					min-height 345px
			
			
			&__nav-wrap
				position absolute
				width 100%
				bottom 14px
				z-index 1000
				height 9px
				@media (min-width scr_xs)
					height 15px
					bottom 20px
			
			&__stage__frame
				img
					display inline-block
					position relative
					left 0 !important
					top 0 !important
					width auto !important
					max-width 85% !important
					height auto !important
					@media (max-width scr_xs)
						max-height 100px !important
			
	&__divider
		width 12px
		background blue
		height 2px
		margin 4px 0 9px
		@media (min-width scr_xs)
			width 30px
			height 3px
			margin 8px 0 17px
	&__image
		position absolute
		bottom 15px
		right 15px
		text-align: right
		z-index 10
		.block--slider &
			right 0
		img
			max-width 87%
			.block--slider &
				max-height 150px !important
				@media (min-width scr_xs)
					height 290px !important
					max-height 290px !important
	&__title, &__divider, &__slider, &__text
		position relative
		z-index 2
	&__title
		font-size 17px
		text-transform: uppercase
		font-weight: bold
		@media (min-width scr_xs)
			font-size 34px
	&--present
		.block__image
			bottom 20px
			right 25px
		&-gray
			background-color #BBB
			background-image linear-gradient(318deg, #BBB 0%, #626262 100%)
		&-blue
			background-color #7C9CB4
			background-image linear-gradient(318deg, #7C9CB4 0%, #163654 100%)
		&-radial-cyan
			&:after
				content ""
				width 180%
				height 100%
				position absolute
				top 0
				left 0
				background-image radial-gradient(center, #00d6dd 0%,#002746 85%);
			.block__image
				img
					height 120px
					@media (min-width scr_xs)
						height 250px
		&-radial-blue
			&:after
				content ""
				width 150%
				height 100%
				position absolute
				top 0
				left 0
				background-image radial-gradient(center, #0094d9 0%,#030951 85%);
			.block__image
				img
					height 135px
					@media (min-width scr_xs)
						height 280px
	&--card
		.block__image
			right -10px
			bottom 10px
			img
				height 145px
				max-width none
				
				@media (min-width scr_xs)
					height 290px
	&--white
		.block__title, .block__text
			color white
		.block__divider
			background white
	&--video
		&:after
			content ""
			position absolute
			top 50%
			left 50%
			transform translateY(-50%) translateX(-50%)
			background url(/layout/images/video.png)
			background-size cover
			width 49px
			height 49px
			@media (min-width scr_xs)
				width 98px
				height 98px
			
.footer
	font-family 'Din'
	font-size 11px
	background blue
	padding 15px 15px 65px
	@media (min-width scr_xs)
		font-size 14px
	&__attention
		font-family 'Din Cond'
		width 100%
		height 55px
		background white
		left 0
		bottom 0
		position: fixed
		color #696969
		text-transform: uppercase
		text-align: center
		line-height 63px
		letter-spacing 2px
		font-size 32px
		font-weight: bold
		white-space np-wrap
		opacity .9
		z-index: 500
		t bottom
		.open &
			bottom -55px
	p
		margin-bottom 15px
		&:last-of-type
			margin-bottom 0
	a 
		color white
		border-line alpha(@color, .8)
		&:hover
			color cyan
			border-line alpha(@color, .8)
		& + span
			margin 0 10px
