@import 'functions.styl'

#products, #filter, .product__item
	border 1px solid #466788
	padding 20px 10px 0px
	position relative
	background-color alpha(#002C78, .4)
	@media (min-width scr_xs)
		margin-bottom 50px
		padding 30px 10px 25px
	.fotorama
		&__wrap, &__stage, &__stage__shaft
			@media (min-width scr_xs)
				min-height 400px

#techs
	border 1px solid #466788
	.fotorama
		&__arr
			&--prev
				left 13px
			&--next
				right 13px
		&__nav-wrap
			position absolute
			width 100%
			bottom 17px
			z-index 1000
			height 9px
			@media (min-width scr_xs)
				height 15px
				bottom 20px
		
#products
	padding 20px 15px 0px
	@media (min-width scr_xs)
		padding 30px 25px 25px

#filter
	padding 0
	margin-bottom 30px 
	@media (min-width scr_xs)
		padding 0
	.fotorama
		&__wrap, &__stage, &__stage__shaft
			@media (min-width scr_xs)
				min-height 500px	
		&__arr
			&--prev
				left 13px
			&--next
				right 13px
		&__nav-wrap
			position absolute
			bottom 0px
			@media (min-width scr_xs)
				bottom 10px

.packages
	&__scroll
		margin-right -15px
		margin-left -15px
		white-space no-wrap
		overflow: scroll
		-webkit-overflow-scrolling: touch;
		padding-bottom 10px
		img
			margin 0 10px
			max-width 40%
		@media (min-width scr_xs)
			margin-right -30px
			margin-left -30px
	&__title
		title()

.product
	/*
	img
		max-width 95%
		&.small
			max-width 80px
			margin 0
			vertical-align: bottom
			@media (min-width scr_xs)
				max-width 160px
	*/
	&__tech-logos
		margin-top 25px
		max-width 40%
		margin-left 10px
		@media (min-width scr_xs)
			margin-left 30px
			margin-top 45px
		img
			max-width 100%
			margin-bottom 25px
	&__item
		position relative
	&__dots
		height 35px
		line-height 35px
		width 100%
		text-align: center
	&__dot
		width 12px
		height 12px
		border 0
		display inline-block
		margin 0 4px
		border-radius 50%
		background white
		@media (min-width scr_xs)
			width 22px
			height 22px
		&--active
			background #001138
	&__image
		position absolute
		max-width 45%
		max-height 85%
		max-height calc(88% - 35px)
		top 7%
		right 10px
		@media (min-width scr_xs)
			right 20px
	&__name, &__title
		title()
		margin-bottom 3px
		max-width 50%
	&__description
		font-size 9px
		opacity .5
		line-height 1.4
		max-width 50%
		@media (min-width scr_xs)
			font-size 20px

	&__tech
		background-size cover
		#filter &
			min-height 280px
			padding 20px 15px 40px
			@media (min-width scr_xs)
				padding 30px 25px 25px
				min-height 500px
		&-content
			max-width 70%
			margin 0 auto
			line-height 1.2
			&--fullwidth
				max-width 95%
			img
				max-width 95%
				&.small
					max-width 80px
					margin 0
					vertical-align: bottom
					@media (min-width scr_xs)
						max-width 160px
			p
				margin-top 20px
				@media (min-width scr_xs)
					font-size 24px
	&__feature
		background-size cover
		&-title
			max-width 88% !important
			margin-top 15px
		&-image
			position absolute
			bottom 15px
			left 0px
			max-height 60%
			max-width 50% !important
			&--center
				bottom 30px
			.product__tech-content--right &
				left auto
				right 15px
				bottom 25px
		&-text
			text-transform: uppercase
			font-weight: bold
			width 65%
			margin-left 41%
			
			font-size 12px
			line-height 1.2
			.product__tech-content--right &
				margin-left 0px
				max-width 55%
			@media (min-width scr_xs)
				line-height 1.5

.product, .present__slider
	.fotorama
		&__wrap, &__stage, &__stage__shaft
			@media (min-width scr_xs)
				min-height 205px
		&__nav-wrap
			margin-top 10px
		&__nav--dots .fotorama__nav__frame
			width 18px
			@media (min-width scr_xs)
				width 36px
		&__dot, &__nav__frame.fotorama__active .fotorama__dot
			width 12px
			height 12px
			border 0
			@media (min-width scr_xs)
				width 22px
				height 22px
		&__nav__frame.fotorama__active .fotorama__dot
			background blue

.present
	font-size 13px
	line-height 1.2
	@media (min-width scr_xs)
		font-size 25px
	.row
		max-width 90%
		margin-left: 5%
	&__badge
		max-width 65px
		margin-bottom 5px
		@media (min-width scr_xs)
			max-width 130px
	&__status
		max-height 92px
		@media (min-width scr_xs)
			max-height 182px
	&__image
		img
			max-width 60%
	&__content
		display none
		&--active
			display block
	&__more
		button()
	&__title
		title()