@import 'functions.styl'

.bages
	line-height 1
	h4
		margin-bottom 5px
	.row
		padding 0 15px
		& + .row
			margin-top 20px
	img
		margin-bottom 5px
.profile
	&__button
		button()
		height 45px
		line-height 44px
		span
			display inline-block
			vertical-align: middle
			font-size 15px
			line-height 1
			@media (min-width scr_xs)
				font-size 30px
				height 90px