/*
 * Примеси
 */
.bages {
  line-height: 1;
}
.bages h4 {
  margin-bottom: 5px;
}
.bages .row {
  padding: 0 15px;
}
.bages .row + .row {
  margin-top: 20px;
}
.bages img {
  margin-bottom: 5px;
}
.profile__title {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
}
@media (min-width: 480px) {
  .profile__title {
    font-size: 34px;
  }
}
.profile__progress {
  height: 9px;
  width: 80%;
  margin: 3px 10% 10px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  background: #fff;
  padding: 2px;
  position: relative;
}
.profile__progress-value {
  height: 5px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  background-color: #0075c4;
}
@media (min-width: 480px) {
  .profile__progress-value {
    height: 11px;
  }
}
@media (min-width: 480px) {
  .profile__progress {
    height: 15px;
  }
}
.profile__slider {
  border: 1px solid #466788;
  padding: 20px 10px 0px;
  margin-bottom: 30px;
  position: relative;
  background-color: rgba(0,44,120,0.4);
}
@media (min-width: 480px) {
  .profile__slider {
    margin-bottom: 50px;
    padding: 30px 10px 25px;
  }
}
@media (max-width: 480px) {
  .profile__slider .fotorama__arr {
    width: 13px;
  }
}
@media (min-width: 480px) {
  .profile__slider .fotorama__wrap,
  .profile__slider .fotorama__stage,
  .profile__slider .fotorama__stage__shaft {
    min-height: 170px;
  }
}
.profile__status {
  padding: 0 35px;
}
.profile__status--disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.profile__status p {
  margin: 0;
  max-width: none;
}
@media (min-width: 480px) {
  .profile__status p {
    font-size: 16px;
  }
}
.profile__status img {
  max-width: 90%;
}
.profile__button {
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #0ff;
  min-width: 115px;
  height: 32px;
  line-height: 30px;
  padding-top: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  color: #00f;
  position: relative;
  background-image: url("../images/button.jpg");
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  -webkit-box-shadow: 0 2px 3px rgba(8,27,62,0.6);
  box-shadow: 0 2px 3px rgba(8,27,62,0.6);
  text-shadow: 0 1px 1px rgba(255,255,255,0.3);
  display: inline-block;
  padding: 3px 20px 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: 45px;
  line-height: 44px;
}
@media (min-width: 480px) {
  .profile__button {
    min-width: 200px;
    height: 47px;
    line-height: 45px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 23px;
    padding-top: 3px;
  }
}
.profile__button span {
  position: relative;
  z-index: 5;
}
.profile__button:after {
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49.9%, rgba(255,255,255,0.63) 50%, rgba(255,255,255,0) 88%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49.9%, rgba(255,255,255,0.63) 50%, rgba(255,255,255,0) 88%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49.9%, rgba(255,255,255,0.63) 50%, rgba(255,255,255,0) 88%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49.9%, rgba(255,255,255,0.63) 50%, rgba(255,255,255,0) 88%, rgba(255,255,255,0) 100%);
  background-image: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49.9%, rgba(255,255,255,0.63) 50%, rgba(255,255,255,0) 88%, rgba(255,255,255,0) 100%);
}
.profile__button:active,
.profile__button:focus {
  top: 2px;
  -webkit-box-shadow: 0 0px 3px rgba(8,27,62,0.6);
  box-shadow: 0 0px 3px rgba(8,27,62,0.6);
}
.profile__button span {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
}
@media (min-width: 480px) {
  .profile__button span {
    font-size: 20px;
    height: 90px;
    line-height: 1.1;
  }
}
